* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.chess-board {
    border: 1px solid black;
    border-collapse: collapse;
}
.chess-board th { 
    padding: .5em; 
}

.chess-board td { 
    border: 1px solid; 
    width: 4em; 
    height: 4em; 
}

.chess-board .light { 
    background: #8e9ffa; 
}
            
.chess-board .dark { 
    background: #1e2cec; 
}

.pieces {
    margin: auto;
    padding: 0;
    background: none;
}

#classic {
    display: block;
}

#blitz {
    display: block;
}